*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(245, 245, 221);
    margin: 10px;
}


.Bigbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    border-style: double;
}

.up {
    display: flex;
    align-items: center;
    justify-content: center;  
    width: 100%;
    height: 40px;
}



.o-box {
    padding: 2px;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;  
    border-top-style: solid;
    border-width:2px;
    border-color: rgba(0, 0, 0, 0.2);
}

.box-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    border-style: solid;
    margin-right: 3px;
    border-width:2px;
    width: 60%;
    height: 700px;
}

.up-1 {
    font-size: 80%;
    display: flex;
    align-items: center;
    justify-content: center;  
    width: 100%;
    height: 40px;
    border-bottom-style: solid;
    border-width:2px;
    border-color: rgba(0, 0, 0, 1);
}

.s-box {
    margin: 7px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    border-radius: 10px;
    border-style: dotted;
}
.n-box {
    padding: 5px;
    border-top-style: solid;
    border-width:1px;
    border-color: rgba(0, 0, 0, 1);
}


.box-2 {
    color: green;
    border-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    border-style: solid;
    border-width:2px;
    width: 40%;
    height: 700px;
}

.up-2 {
    display: flex;
    align-items: center;
    justify-content: center;  
    width: 100%;
    height: 130px;
    border-bottom-style: solid;
    border-width:1px;
    border-color: rgba(0, 0, 0, 1);
}

.n-box-1 {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}

.n-box-2 {
    width: 100%;
    height: 100%;
    border-top-style: solid;
    border-width:1px;
    border-color: rgba(0, 0, 0, 1);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}



.down {
    display: flex;
    align-items: center;
    justify-content: center;  
    width: 100%;
    height: 40px;
}


li {
    font-size: 12px;
    list-style-type: square;
}